[Unit]
Description=System Restore Point Creator
Requires=mnt.mount
After=local-fs.target mnt.mount

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sys-restore
IOSchedulingClass=idle
CPUSchedulingPolicy=idle

[Install]
WantedBy=multi-user.target
